<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="handyconfig" type="HandyConfig.Configuration.HandyConfigSection, HandyConfig"/>
  </configSections>

  <handyconfig>
    <add name="stringtest" value="a long string" />
    
    
  </handyconfig>
</configuration>